<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/97be5f14-4106-4894-8964-49bfb09ce5d4/resourcegroups/AzureDeploymentPractice20221119161414ResourceGroup/providers/Microsoft.Web/sites/AzureDeploymentPractice20221119161414</ResourceId>
    <ResourceGroup>AzureDeploymentPractice20221119161414ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://azuredeploymentpractice20221119161414.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e49ee95e-d912-4e1f-93da-d7568c4d12ce</ProjectGuid>
    <PublishUrl>https://azuredeploymentpractice20221119161414.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AzureDeploymentPractice20221119161414</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>